@{
    Layout = "_adminLayout";
}

<html>
<head>

    <title>Kütüphane Otomasyonu</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <style>

      

        #Anasayfa {
            background-attachment: fixed;
            background-image: url(/pic/bg.jpg);
            opacity: 0.6;
            text-align: center;
            margin-top: 0px;
        }

        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: 969px;
        }
        h2 {
            color: black;
            text-align: center;
            margin-top: 400px;
            font-size: 80px;
            font: bold;
            opacity:5;
        }
    </style>
</head>
<body>
    <div class="content" id="Anasayfa">
        <h2>Kütüphane Otomasyonuna Hoş Geldiniz</h2>
    </div>

</body>

</html>